.streamline__entries {
  height: calc(100% - var(--sl-search-h));
  overflow: auto;
  margin: 0;

  &--sub {
    display: flex;
    flex-wrap: wrap;
    padding: 0.25rem 0 0.5rem 0;
  }
}

.streamline__entry {
  transition: none;
  display: flex;
  margin: 0 var(--sl-p);

  & + & {
    border-top: 1px solid var(--wp-g2-light-gray-500);
  }

  h1 {
    margin-top: 18px;
    margin-right: var(--sl-p);
    line-height: 1;
    font-size: 1rem;
    font-weight: 500;
    transition: none;
    display: inline-block;
    box-sizing: border-box;
    color: var(--wp-g2-dark-gray-900);
    text-decoration: none;
  }

  .is-tertiary {
    color: var(--wp-g2-blueberry-dark) !important;

    &:hover {
      box-shadow: inset 0 0 0 1px var(--wp-g2-blueberry-dark) !important;
    }
  }

  &--sub {
    padding: 0;
    margin: 0.25rem 1rem 0 0;
  }
}
