.streamline__entries {
  height: calc(100% - var(--sl-search-h));
  overflow: auto;
  margin: 0;

  &--sub {
    padding: calc(var(--sl-p) / 8) var(--sl-p) calc(var(--sl-p) / 2) var(--sl-p);
    display: flex;
    flex-wrap: wrap;
  }
}

.streamline__entry {
  margin: 0;
  cursor: pointer;
  transition: none;

  & + & {
    border-top: 1px solid var(--wp-g2-light-gray-500);
  }

  & > a {
    width: 100%;
    height: 100%;
    padding: 1.25rem var(--sl-p) 1.25rem var(--sl-p);
    line-height: 1;
    font-size: 1.25rem;
    transition: none;
    display: inline-block;
    box-sizing: border-box;

    &:hover {
      background-color: var(--wp-g2-wordpress-blue);
      color: #ffffff !important;
      text-decoration: underline;
    }
  }

  &:nth-child(odd) {
    background-color: #fafafa;
  }

  &:nth-child(even) {
    background-color: #fcfcfc;
  }

  &--sub {
    padding: 0;
    margin: 0 1rem 0 0;
  }
}
