.streamline__sidebar {
  [role="toolbar"] {
    background: var(--wp-g2-dark-gray-rgba-10);
    display: grid;
    grid-auto-rows: max-content;
    width: calc(var(--sl-side-w) - 1px);
    border: none;
    border-right: 1px solid var(--sl-border-color) !important;
    border-radius: 0;
    height: 100%;
  }

  [type="button"] {
    height: calc(var(--sl-side-w) + 8px) !important;
    border-radius: 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 !important;

    &.streamline-is-active {
      color: var(--wp-g2-blueberry-dark);
    }

    &:before {
      height: calc(44px + 8px) !important;
    }

    &:hover {
      color: var(--wp-g2-blueberry-dark);
    }

    &:focus {
      &:before {
        box-shadow: inset 0 0 0 var(--wp-admin-border-width-focus) var(--wp-admin-theme-color) !important;
      }
    }

    &:first-of-type {
      background: #18181b;
      color: #ffffff;
      height: calc(var(--sl-side-w) - 1px) !important;
      width: var(--sl-side-w) !important;
      border-bottom: 1px solid var(--wp-g2-dark-gray-900) !important;

      &:active {
        color: #ffffff;
      }
    }

    & + [type="button"] {
      border-top: 1px solid var(--wp-g2-dark-gray-rgba-20);
    }

    &:last-of-type {
      border-bottom: 1px solid var(--wp-g2-dark-gray-rgba-20);
    }

    span {
      font-size: 11px;
      font-weight: 500;
      text-transform: uppercase;
      margin-top: 4px;
      display: inline-block;
    }
  }
}
