<!doctype html><html dir="ltr" lang="en"><head> <meta charset="utf-8"> <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0"> <title>Streamline development</title> <link rel="modulepreload" href="/build/p-c399ad4c.js"><script type="module" src="/build/p-c399ad4c.js" data-stencil data-resources-url="/build/" data-stencil-namespace="streamline"></script> <script nomodule="" src="/build/streamline.js" data-stencil></script> </head> <body> <script>
      window.streamlineData = {
        network: true,
      };
    </script> <streamline-container visible="" test="" multisite=""></streamline-container> <script>
      (async () => {
        await customElements.whenDefined('streamline-container');
        ['entriesMenu', 'entriesFav', 'entriesPost', 'entriesSite'].forEach(
          (item) => {
            fetch(`build/test/${item}.json`)
              .then((data) => data.json())
              .then((data) => {
                document.querySelector('streamline-container').setState({
                  [item]: data,
                });
              });
          }
        );
      })();
    </script> </body></html>