:root {
  --sl-bg: #ffffff;
  --sl-overlay-bg: rgba(24, 24, 27, 0.9);
  --sl-border-color: var(--sl-wp-g2-light-gray-300);
  --sl-focus-color: var(--sl-wp-g2-blueberry);

  --sl-p: 1.5rem;
  --sl-border-radius: 0.25rem;

  --sl-side-w: 64px;

  --sl-wp-g2-blueberry: #3858e9;
  --sl-wp-g2-blueberry-dark: #1d35b4;
  --sl-wp-g2-light-gray-100: #fbfbfc;
  --sl-wp-g2-light-gray-300: #edeff0;
  --sl-wp-g2-light-gray-500: #e2e4e7;
  --sl-wp-g2-dark-gray-700: #32373C;
  --sl-wp-g2-dark-gray-900: #191e23;
}