:root {
  --sl-bg: #ffffff;
  --sl-overlay-bg: rgba(24, 24, 27, 0.9);
  --sl-border-color: var(--sl-wp-g2-light-gray-300);
  --sl-focus-color: var(--sl-wp-g2-blueberry);

  --sl-s: var(--sl-s-6);
  --sl-border-radius: 0.25rem;
  --sl-transition: cubic-bezier(0.4, 0, 0.2, 1);
  --sl-transition-fast: 200ms var(--sl-transition);

  --sl-side-w: 64px;

  --sl-wp-g2-blueberry: #3858e9;
  --sl-wp-g2-blueberry-dark: #1d35b4;
  --sl-wp-g2-light-gray-100: #fbfbfc;
  --sl-wp-g2-light-gray-300: #edeff0;
  --sl-wp-g2-light-gray-500: #e2e4e7;
  --sl-wp-g2-dark-gray-700: #32373C;
  --sl-wp-g2-dark-gray-900: #191e23;

  --sl-s-0-5: 0.125rem;
  --sl-s-1: 0.25rem;
  --sl-s-1-5: 0.375rem;
  --sl-s-2: 0.5rem;
  --sl-s-2-5: 0.625rem;
  --sl-s-3: 0.75rem;
  --sl-s-3-5: 0.875rem;
  --sl-s-4: 1rem;
  --sl-s-5: 1.25rem;
  --sl-s-6: 1.5rem;
  --sl-s-7: 1.75rem;
  --sl-s-8: 2rem;
  --sl-s-9: 2.25rem;
  --sl-s-10: 2.5rem;
  --sl-s-11: 2.75rem;
  --sl-s-12: 3rem;
  --sl-s-14: 3.5rem;
  --sl-s-16: 4rem;
  --sl-s-20: 5rem;
  --sl-s-24: 6rem;
  --sl-s-28: 7rem;
  --sl-s-32: 8rem;
  --sl-s-36: 9rem;
  --sl-s-40: 10rem;
  --sl-s-44: 11rem;
  --sl-s-48: 12rem;
  --sl-s-52: 13rem;
  --sl-s-56: 14rem;
  --sl-s-60: 15rem;
  --sl-s-64: 16rem;
  --sl-s-72: 18rem;
  --sl-s-80: 20rem;
  --sl-s-96: 24rem;

  --sl-text-xs: 0.75rem;
  --sl-text-sm: 0.875rem;
  --sl-text-base: 1rem;
  --sl-text-lg: 1.125rem;
  --sl-text-xl: 1.25rem;
  --sl-text-2xl: 1.5rem;
  --sl-text-3xl: 1.875rem;
  --sl-text-4xl: 2.25rem;
  --sl-text-5xl: 3rem;
  --sl-text-6xl: 3.75rem;
  --sl-text-7xl: 4.5rem;
  --sl-text-8xl: 6rem;
  --sl-text-9xl: 8rem;
}