@mixin focus {
  .focus {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 100%;

    &:hover + .focus {
      .icon {
        opacity: 1;
      }
    }

    input,
    button {
      &:focus {
        outline: none;
      }
    }

    input {
      padding-left: var(--sl-s);
    }

    &:before {
      position: absolute;
      content: '';
      box-sizing: border-box;
      left: 4px;
      top: 4px;
      width: calc(100% - 8px);
      height: calc(100% - 9px);
      pointer-events: none;
      transition: box-shadow var(--sl-transition-fast);
    }

    &:focus-within {
      &:before {
        box-shadow: inset 0 0 0 2px var(--sl-focus-color);
      }
    }

    &.is-main,
    &.is-icon {
      &:before {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }

    &.is-icon {
      width: auto;
    }
  }
}
