:host {
  @include focus;
  @include host;
}

.inner {
  scroll-padding-top: 75px;
}

input:checked {
  & ~ .dot {
    transform: translateX(36px);
    background-color: #ffffff;
  }
}

input[type='number'],
select {
  font-family: inter, sans-serif;
  border: 1px solid #e2e8f0;
  color: #0f172a;
  padding: 8px 12px !important;
  font-size: 14px;
  font-weight: 600;
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
}

select {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3E%3C/svg%3E");
  background-position: right 4px center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.unset-hover *:hover {
  background-color: #e2e8f0 !important;
  color: #475569 !important;
}
