:host {
  --sl-entry-space: var(--sl-s-4);

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  .container {
    height: calc(100% - var(--sl-side-w));
    overflow: auto;
    display: none;

    &-sub {
      display: flex;
      flex-wrap: wrap;
      padding: 0 0 var(--sl-entry-space) 0;
    }
  }

  .header {
    margin: var(--sl-s-6) var(--sl-s) var(--sl-s-4) var(--sl-s);
    padding-bottom: var(--sl-s-1);
    border-bottom: 1px dotted var(--sl-wp-g2-dark-gray-700);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: sticky;
    top: 0;
    background: #ffffff;
    z-index: 10;

    h1 {
      font-weight: 500;
      font-size: 1.5rem;
      color: var(--sl-wp-g2-dark-gray-900);
    }

    &__buttons {
      margin-bottom: var(--sl-s-1-5);
    }
  }

  .entry {
    transition: none;
    display: flex;
    margin: 0 var(--sl-s);

    &:last-of-type {
      margin-bottom: var(--sl-s-4);
    }

    & + .entry {
      border-top: 1px solid var(--sl-wp-g2-light-gray-500);
    }

    h2 {
      white-space: nowrap;
      margin-top: calc(var(--sl-entry-space) + 0.125rem);
      margin-right: var(--sl-s);
      line-height: 1;
      font-size: 1rem;
      font-weight: 500;
      transition: none;
      display: inline-block;
      box-sizing: border-box;
      color: var(--sl-wp-g2-dark-gray-900);
      text-decoration: none;
    }

    &-sub {
      padding: 0;
      margin: var(--sl-entry-space) 0 0;
    }
  }
}
