:host {
  --sl-entry-space: 1rem;

  ul {
    padding: 0;
    list-style-type: none;
  }

  .container {
    height: calc(100% - var(--sl-side-w));
    overflow: auto;
    margin: 0;
    display: none;

    &-sub {
      display: flex;
      flex-wrap: wrap;
      padding: 0 0 var(--sl-entry-space) 0;
    }
  }

  .entry {
    transition: none;
    display: flex;
    margin: 0 var(--sl-p);
    padding: 0;

    & + .entry {
      border-top: 1px solid var(--sl-wp-g2-light-gray-500);
    }

    h1 {
      white-space: nowrap;
      margin-top: calc(var(--sl-entry-space) + 0.125rem);
      margin-right: var(--sl-p);
      line-height: 1;
      font-size: 1rem;
      font-weight: 500;
      transition: none;
      display: inline-block;
      box-sizing: border-box;
      color: var(--sl-wp-g2-dark-gray-900);
      text-decoration: none;
    }

    .is-tertiary {
      color: var(--wp-g2-blueberry-dark);

      &:hover {
        box-shadow: inset 0 0 0 1px var(--sl-wp-g2-blueberry-dark);
      }
    }

    &-sub {
      padding: 0;
      margin: var(--sl-entry-space) var(--sl-entry-space) 0 0;
    }
  }
}
