:root {
  --sl-focus-color: #2563eb;
  --sl-focus-color-invalid: #f43f5e;
  --sl-border-radius: 0.25rem;
  --sl-side-w: 48px;

  @media (min-width: 640px) {
    --sl-side-w: 64px;
  }

  @media (min-width: 1024px) {
    --sl-side-w: 144px;
  }
}

streamline-container {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
}
