@mixin focus {
  .focus:focus {
    box-shadow: inset 0 0 0 4px #f8fafc, inset 0 0 0 6px var(--sl-focus-color);
    outline: none;
  }

  .focus-dark:focus {
    box-shadow: inset 0 0 0 4px #191e23, inset 0 0 0 6px var(--sl-focus-color);
    outline: none;
  }

  .focus-white:focus {
    box-shadow: inset 0 0 0 4px #ffffff, inset 0 0 0 6px var(--sl-focus-color);
    outline: none;
  }

  .focus-gray:focus {
    box-shadow: inset 0 0 0 4px #e2e8f0, inset 0 0 0 6px var(--sl-focus-color);
    outline: none;
  }

  .focus-none:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}
