@mixin focus {
  .focus {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 100%;
    outline: none;

    &--px {
      &:before {
        height: calc(100% - 8px) !important;
      }
    }

    &:hover + .focus {
      .icon {
        opacity: 1;
      }
    }

    [role="button"],
    input,
    button,
    a {
      &:focus {
        outline: none;
      }
    }

    &:before {
      position: absolute;
      content: '';
      box-sizing: border-box;
      left: 4px;
      top: 4px;
      width: calc(100% - 8px);
      height: calc(100% - 9px);
      pointer-events: none;
    }

    &:focus-within {
      &:before {
        box-shadow: inset 0 0 0 2px var(--sl-focus-color);
      }
    }
  }
}
