@tailwind base;
@tailwind utilities;
@tailwind components;

:host {
    display: block;
}

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    line-height: 1.25;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.focus-inner {
    @apply focus:outline-none focus:ring-offset-2 focus:ring-2 focus:ring-inset focus:ring-blue-500;
}
