@tailwind base;
@tailwind utilities;
@tailwind components;

:host {
  display: block;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sl-px {
  @apply px-4 sm:px-8 lg:px-10;
}

.sl-mx {
  @apply mx-4 sm:mx-8 lg:mx-10;
}

.sl-grid {
  @apply grid auto-cols-[minmax(150px,1fr)] grid-flow-col gap-2;
}

.focus-none {
  outline: none !important;
  box-shadow: none !important;
}

.focus {
  @apply focus:outline-none focus:ring-2 focus:ring-blue-500;
}

.focus-offset {
  @apply focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2;
}

.focus-within {
  @apply focus-within:outline-none focus-within:ring-2 focus-within:ring-blue-500;
}

.focus-within-offset {
  @apply focus-within:outline-none focus-within:ring-2 focus-within:ring-blue-500 focus-within:ring-offset-2;
}

.focus-inner {
  @apply focus:outline-none focus:ring-2 focus:ring-inset focus:ring-blue-500 focus:ring-offset-2;
}

.icon {
  svg {
    @apply h-full w-full;
  }
}

.overflow-x-auto,
.overflow-x-scroll,
.overflow-y-auto,
.overflow-y-scroll {
  &:not(.scrollbar-none) {
    &::-webkit-scrollbar {
      width: 8px;
      height: 4px;
    }

    &::-webkit-scrollbar-track {
      background: #ffffff;
    }

    &::-webkit-scrollbar-thumb {
      background: #cbd5e1;
      border-radius: 0;
    }
  }
}

.scrollbar-none {
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
  }
}

streamline-header {
  @apply relative sticky top-0 z-20 flex grid h-[40px] grid-cols-[minmax(0,1fr),auto] items-center justify-between bg-white;
}
