:host {
  @include focus;
  position: relative;
  display: inline-flex;

  a {
    text-decoration: none;
  }

  .focus {
    &:hover {
      & + .icon {
        opacity: 1;
      }
    }
  }

  .container {
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    border-radius: var(--sl-border-radius);

    &.is-main {
      font-size: var(--sl-text-sm);
      padding: var(--sl-s-2-5) var(--sl-s-3);
      line-height: 1;
      border: 1px solid var(--sl-wp-g2-light-gray-300);
      background: var(--sl-wp-g2-light-gray-100);
      color: var(--sl-wp-g2-blueberry);
      min-width: 75px;
      transition: border-color var(--sl-transition-fast);

      &:hover {
        border-color: var(--sl-wp-g2-blueberry);
      }
    }

    &.is-sidebar {
      height: calc(var(--sl-side-w) + 8px);
      border-radius: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0;
      border: none;
      width: 100%;
      background: transparent;
      border-bottom: 1px solid var(--sl-wp-g2-light-gray-500);
      transition: color var(--sl-transition-fast);

      span {
        font-size: var(--sl-text-xs);
        font-weight: 600;
        text-transform: uppercase;
        margin-top: var(--sl-s-1-5);
        display: inline-block;
      }

      svg {
        height: var(--sl-text-xl);
        width: var(--sl-text-xl);
        transition: fill var(--sl-transition-fast);
      }

      &:hover,
      &.is-active {
        color: var(--sl-wp-g2-blueberry);

        svg {
          fill: var(--sl-wp-g2-blueberry);
        }
      }

      &.is-primary {
        --sl-focus-color: var(--sl-wp-g2-blueberry);
        background: var(--sl-wp-g2-dark-gray-900);
        color: #ffffff;
        height: calc(var(--sl-side-w) - 1px);
        width: var(--sl-side-w);
        border-bottom: 1px solid var(--sl-wp-g2-dark-gray-900);
        transition: border-color var(--sl-transition-fast);

        svg {
          height: var(--sl-s-6);
          width: var(--sl-s-6);
          fill: currentColor;
        }

        &:hover {
          background: var(--sl-wp-g2-dark-gray-700);
          border-color: var(--sl-wp-g2-dark-gray-700);
        }
      }
    }

    &.is-header {
      height: var(--sl-s-8);
      width: var(--sl-s-8);
      padding: 0;
      background: transparent;
      color: var(--sl-wp-g2-dark-gray-700);
      background: var(--sl-wp-g2-light-gray-100);
      border: 1px solid var(--sl-border-color);
      transition: border-color var(--transition-fast);

      &:hover {
        border-color: var(--sl-wp-g2-blueberry);
      }

      svg {
        margin-top: var(--sl-s-1);
        height: var(--sl-s-3-5);
        width: var(--sl-s-3-5);
      }

      &.is-active {
        color: var(--sl-wp-g2-blueberry);
      }
    }
  }

  .icon {
    background: none;
    position: relative;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0 var(--sl-s-2);
    opacity: 0;
    left: -1px;
    outline: none;

    &:hover,
    &:focus {
      opacity: 1;
      color: var(--sl-wp-g2-blueberry);
    }

    &.is-favourite {
      opacity: 1;
      color: var(--sl-wp-g2-blueberry-dark);
    }

    svg {
      margin-left: 1px;
      height: var(--sl-s-2-5);
      width: var(--sl-s-2-5);
    }
  }
}
