@import 'node_modules/tippy.js/dist/tippy';

:host {
  @include focus;
}

.tippy-content {
  padding: 0;
}

.tippy-box {
  border-radius: 0 !important;
  background: #0F172A;

  .tippy-arrow {
    color: #0F172A;
  }
}
