@keyframes fadein {
  from {
    opacity: 0;
    transform: translate3d(-50%, calc(-50% + 20px), 0);
  }
  to {
    opacity: 1;
    transform: translate3d(-50%, -50%, 0);
  }
}

.inner {
  opacity: 0;
}

.animate {
  will-change: transform, opacity;
  animation: fadein 0.4s normal forwards cubic-bezier(0.4, 0, 0.2, 1);
}
